<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include('../fragmente/head') %>
    <title>Despre Noi - Web Project 2025</title>
</head>
<body>
    <div class="watermark">
        <b>Enache<br>Paul</b>
    </div>

    <%- include('../fragmente/header') %>

    <main>
        <section>
            <h1>Despre Proiectul Nostru</h1>
            <p>Aceasta este o pagină creată pentru a demonstra funcționalitatea de rutare a serverului nostru Express.</p>
            <p>Cafeneaua noastră virtuală este un exercițiu pentru materia Tehnici Web, implementând diverse tehnologii front-end și back-end.</p>
        </section>
        <section>
             <h2>Date Utilizator</h2>
             <p>IP-ul dumneavoastră este: <%= ip %></p>
        </section>
    </main>

    <%- include('../fragmente/footer') %>
</body>
</html>
