<footer id="contact">
    <h2>Contact Us<i class="fa-duotone fa-solid fa-mug-hot"></i></h2>
    <address>
        <p>Call us: <a href="tel:+15551234567">555-123-4567</a></p>
    </address>
    <small>© Copyright <time datetime="2025-09-05">5 septembrie 2025</time></small>
    <p class="print-banner">Acesta este un proiect școlar!</p>
</footer>
<a href="#top" id="link-top" aria-label="Back to top">
    <p>↑</p>
</a>
